<hr style="border-top: 1px solid #E51A4B;">
       
        <div class="row">
          <div class="col-lg-4 col-md-6 col-12">
            <div class="icon-box">
            <i class="icofont-clock-time"></i>
              <h4><a href="{% url 'schedule' camp='gmcs' %}" class="stretched-link">SCHEDULE</a></h4>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-12">
             <div class="icon-box">
             <i class="icofont-ui-user-group"></i>
              <h4><a href="{% url 'team-website' camp='gmcs' %}" class="stretched-link">TEAMS</a></h4>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-12">
            <div class="icon-box">
            <i class="icofont-users-social"></i>
              <h4><a href="{% url 'members' camp='gmcs' %}" class="stretched-link">CAMPERS</a></h4>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 col-12">
            <div class="icon-box">
            <i class="icofont-flag-alt-1"></i>
              <h4><a href="{% url 'leaderboard' camp='gmcs' %}" class="stretched-link">LEADERBOARD</a></h4>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-12">
            <div class="icon-box">
            <i class="icofont-certificate-alt-1"></i>
              <h4><a href="{% url 'award-list'  camp='gmcs'%}" class="stretched-link">AWARDS</a></h4>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-12">
            <div class="icon-box">
            <i class="icofont-list"></i>
              <h4><a href="{% url 'submit' camp='gmcs' %}" class="stretched-link">EVENTS</a></h4>
            </div>
          </div>

        </div>