 {% load static %}
 
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      {% comment %} <h1 class="logo mr-auto"><a href="/">KSHAMATA</a></h1> {% endcomment %}
      <!-- Uncomment below if you prefer to use an image logo -->
      <a href="/" class="logo mr-auto"><img src="{% static 'assets/img/logoo.png' %} " alt="" class="img-fluid"></a>


     {% if request.user.is_authenticated %}
      <nav class="nav-menu d-none d-lg-block">
        <ul>
          {% if request.user.is_authenticated %}
          <li><a href="{% url 'index' %}">Home</a></li>
          <li><a href="{% url 'camp' %}">Camps</a></li>
          {% comment %} <li><a href="{% url 'blog' %}">Wishes</a></li> {% endcomment %}
          {% comment %} <li><a href="{% url 'camp-home' camp='sotp' %}">SOTP</a></li> {% endcomment %}
          <li><a href="{% url 'camp-home' camp='gmcs' %}">GMCS</a></li>
          <li class="drop-down"><a href="{% url 'profile' %}">Profile</a>
            <ul>
              <li><a href="{% url 'profile' %}">Account</a></li>
              {% if user.is_superuser %}
              <li><a href="{% url 'give_award' %}">Give an award</a></li>
              <li><a href="/admin">Admin Site</a></li>
              {% endif %}
              <li><a href="{% url 'password_reset' %}">Reset Password</a></li>
              <li><a href="{% url 'logout' %}">Logout</a></li>
            </ul>
          </li>
          {% endif %}

        </ul>
      </nav><!-- .nav-menu -->
      {% endif %}
      {% if not request.user.is_authenticated %}
      <a href="{% url 'login' %}" class="get-started-btn">Login</a>
      {% endif %}
    </div>
  </header><!-- End Header -->
