 {% load static %}
 
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <a href="/" class="logo mr-auto"><img src="{% static 'assets/img/logoo.png' %} " alt="" class="img-fluid"></a>


      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li><a href="#home">HOME</a></li>
          <li><a href="#programme">PROGRAMME</a></li>
          <li><a href="#eligibility">ELIGIBILITY</a></li>
          {% comment %} <li><a href="#calendar">CALENDAR</a></li> {% endcomment %}
          <li><a href="#apply">APPLY NOW</a></li>

          {% if request.user.is_superuser %}
          <li class="drop-down"><a href="{% url 'profile' %}">Profile</a>
            <ul>
              <li><a href="{% url 'profile' %}">Account</a></li>
              <li><a href="/admin">Admin Site</a></li>
              <li><a href="{% url 'password_reset' %}">Reset Password</a></li>
              <li><a href="{% url 'logout' %}">Logout</a></li>
            </ul>
          </li>
          {% endif %}

        </ul>
      </nav><!-- .nav-menu -->
      {% comment %} {% if not request.user.is_authenticated %}
      <a href="{% url 'login' %}" class="get-started-btn">Login</a>
      {% endif %} {% endcomment %}
    </div>
  </header><!-- End Header -->
