{% load static %}

  <!-- Vendor JS Files -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="{% static 'assets/vendor/jquery/jquery.min.js' %} "></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %} "></script>
  <script src="{% static 'assets/vendor/jquery.easing/jquery.easing.min.js' %} "></script>
  <script src="{% static 'assets/vendor/waypoints/jquery.waypoints.min.js' %} "></script>
  <script src="{% static 'assets/vendor/counterup/counterup.min.js' %} "></script>
  <script src="{% static 'assets/vendor/venobox/venobox.min.js' %} "></script>
  <script src="{% static 'assets/vendor/owl.carousel/owl.carousel.min.js' %} "></script>
  <script src="{% static 'assets/vendor/superfish/superfish.min.js' %} "></script>
  <script src="{% static 'assets/vendor/hoverIntent/hoverIntent.js' %} "></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %} "></script>
  <script src="{% static 'assets/vendor/toaster/toaster.min.js' %} "></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %} "></script>