{% extends 'base_page.html' %}
{% load static %}

{% block content %}

    <main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
    <picture>
      <source media="(min-width: 480px)" srcset="{% static 'assets/img/hero-bg.jpg' %}" class="img-fluid"  loading="lazy" draggable="false" onmousedown="return false" style="user-drag: none">
      <img src="{% static 'assets/img/mobile-hero-bg.jpg' %}"  loading="lazy" class="img-fluid" draggable="false" onmousedown="return false" style="user-drag: none">
    </picture>
    </div><!-- End Breadcrumbs -->
    
    <section id="home" class="home">
      <div class="container">



        <div class="row">
          <div class="col-lg-3 col-md-4 order-1 order-lg-2 text-center" data-aos="fade-left" data-aos-delay="100">
            <img src="{% static 'assets/img/home_page.jpg' %}" class="img-fluid image" loading="lazy"draggable="false" onmousedown="return false" style="user-drag: none">
          </div>
          <div class="col-lg-9 col-md-8 pt-sm-4 pt-lg-0 order-2 order-lg-1 content">
            <p>Vishwa Konkani Student Scholarship Fund is looking for 25 bright and talented Konkani Students who aspire to be the Chartered Accountants under its ambitious and innovative CA SUPER 25 Programme.</p>
            <p>CA SUPER 25 is a fully sponsored 4 years educational programme, conceived by a group of Chartered Accountants under the auspice of World Konkani Centre, to empower talented rural youth from economically disadvantaged Konkani speaking families. Under this programme 25 Konkani students will be sponsored to pursue Chartered Accountancy Course of ICAI (Institute of Chartered Accountants of India)</p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <section id="programme" class="programme">
      <div class="container">
      
      <div class="section-title">
        <p hidden>Programme</p>
      
      </div>
    
      <div class="row">
        <div class="col-12 text-center"><img src="{% static 'assets/img/logoo.png' %} " loading="lazy" class="img-fluid" draggable="false" onmousedown="return false" style="user-drag: none"></div>
        <div class="col-12 text-block text-center"><h1>sponsorship porgramme for ca aspirants</h1></div>
        <div class="text-para pt-2"><p>The CA SUPER 25 Programme envisages a 360 Degree eco system to foster the selected students and ensure successful completion of their Chartered Accountancy Course in a time bound manner. The following are the salient offerings of this powerful ecosystem.</p></p>
      </div>


        <div class="row icon-boxes programme-content">

          <div class="col-12   mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box row">
              <div class="icon col-lg-3 col-md-4 col-12 text-center"><img src="{% static 'assets/img/programme/education.png' %}" class="img-fluid"></div>
              <div class="col-lg-9 col-md-8 col-12">
                <div class="d-flex align-items-center mb-2">
                  <h4>SCHOLARSHIP</h4>
                </div>
                <p>All the cost elements towards fostering the CA SUPER 25 students for 4 years will be covered under the Scholarship Grant. The ICAI Fees towards CA Intermediate Exam, ICITSS, AICITSS and CA Finals Exam will be completely covered under the programme. The Scholarship will also cover the cost of Coaching, Mentoring and Fostering under the programme. The total cost of the Scholarship per student will be to the tune of Rs. 4.00 Lakhs.</p>
              </div>
            </div>
          </div>

          <div class="col-12   mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box row">
              <div class="icon col-lg-3 col-md-4 col-12 text-center"><img src="{% static 'assets/img/programme/coach.png' %}" class="img-fluid"></div>
              <div class="col-lg-9 col-md-8 col-12">
                <div class="d-flex align-items-center mb-2">
                  <h4>COACHING</h4>
                </div>
                <p>Coaching the CA Super 25 students for CA Intermediate Exam and thereafter for the CA Final Exam is at the core of the Programme.</p>
                  <p>CA Super 25 students will undergo a Residential Coaching Camp of 3 months (90 Days) each running up to the CA Intermediate and CA Finals examinations. These Coaching Camps will have 750 hours of Coaching by experts on subjects under the syllabi.</p>
                  CA Super 25 students will also undergo a Residential Focus Camp of 3 Days each during 2nd and 3rd year to reinforce the concepts.
                  An Orientation Camp of 3 Days will be conducted at the beginning of the CA Super 25 programme to nurture a bond among the participants to enable peer to peer learning.
                  </p>
              </div>
            </div>
          </div>

          <div class="col-12   mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box row">
              <div class="icon col-lg-3 col-md-4 col-12 text-center"><img src="{% static 'assets/img/programme/education-2.png' %}" class="img-fluid"></div>
              <div class="col-lg-9 col-md-8 col-12">
                <div class="d-flex align-items-center mb-2">
                  <h4>MENTORING</h4>
                </div>
                <p>The CA Super 25 students will be on boarded on to an online workspace to enable 365 days’ access to the Mentors on demand. The workspace will also enable the students to be in close contact with other students which will kindle a cooperation and a healthy competition in academic progress.
                  The Students can avail, One-On-One sessions with subject experts, senior Chartered Accountants and counsellors to overcome academic, practical and mental roadblocks throughout the course period.
                </p>
             </div>
            </div>
          </div>



          <div class="col-12   mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box row">
              <div class="icon col-lg-3 col-md-4 col-12 text-center"><img src="{% static 'assets/img/programme/articleship.png' %}" class="img-fluid"></div>
              <div class="col-lg-9 col-md-8 col-12">
                <div class="d-flex align-items-center mb-2">
                  <h4 id="sub-articleship">ARTICLESHIP</h4>
                </div>
                <p>Every CA aspirant must undergo three years of Articleship in a Chartered Accountancy Firm after passing the CA Intermediate Examination as per the ICAI guidelines. It is challenging to find such an opportunity. The CA Super 25 students will have the privilege of securing the Articleship under the Chartered Accountancy Firms by the virtue of being the fostered mentees of such professionals.</p>
             </div>
            </div>
          </div>
          
          <div class="col-12   mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box row">
              <div class="icon col-lg-3 col-md-4 col-12 text-center"><img src="{% static 'assets/img/programme/home.png' %}" class="img-fluid"></div>
              <div class="col-lg-9 col-md-8 col-12">
                <div class="d-flex align-items-center mb-2">
                  <h4 id="sub-fostering">FOSTERING</h4>
                </div>
                <p>It is often difficult to find an Articleship opportunity within the hometown of the Students. CA Super 25 students being selected out of rural places seldom have a Chartered Accountancy Firms working in their area. They have to either commute long distance or find an accommodation which will add to their cost of education during the course of study.</p>
                <p>Therefore, all outstation students under the CA Super 25 programme will be provided Free Accommodation during the Articleship Period.</p>
             </div>
            </div>
          </div>

        </div>
      </div>
    </section>

  <section id="eligibility" class="eligibility">
    <div class="container">
      <div class="section-title">
        <p>Eligibility CRITERIA</p>
      </div>

      <div class="content">
        <h3 class="pb-2">WHO CAN APPLY?</h3>
            <ul>
              <li><i class='bx bx-check-circle'></i>The Student’s Mother Tongue must be Konkani. A mother tongue certificate need to be uploaded to the application.</li>
              <li><i class='bx bx-check-circle'></i>The family income of the student must not exceed Rs. 5.00 lakh per year.</li>
              <li><i class='bx bx-check-circle'></i>The Student must have passed in CA Foundation Course 2021.</li>
              <li><i class='bx bx-check-circle'></i>The Student must have registered for CA Intermediate Exam to be held in May 2022.</li>
              <li><i class='bx bx-check-circle'></i>The Student must be appearing for CA Intermediate Exam in May 2022 for the first time.</li>
            </ul>
      </div>

      <div class="content">
        <h3 class="pb-2">WHO WILL BE SELECTED?</h3>
            <ul>
              <li><i class='bx bx-check-circle'></i>The primary objective of the CA SUPER 25 to select and groom meritorious, talented and gifted students from the Konkani speaking communities to be successful Chartered Accountants.</li>
              <li><i class='bx bx-check-circle'></i>An Online Entrance Test will be conducted. The test will be comprising of General Aptitude Questions.</li>
              <li><i class='bx bx-check-circle'></i>Candidates passed in the Entrance Test will be called for an Online Interview to ascertain the student’s aspiration and gauge the commitment to the programme.</li>
              <li><i class='bx bx-check-circle'></i>The CA SUPER 25 is a Merit Cum Means programme where Merit and financial condition both will determine the shortlisting of the candidate.</li>
              <li><i class='bx bx-check-circle'></i>Due diligence such as house visits will be conducted for all students who have passed in the Entrance Test to ascertain the financial status of the candidate.</li>
              <li><i class='bx bx-check-circle'></i>Orphans, Single Parented candidates will be given weightage.</li>
            </ul>
      </div>
    </div>
  </section>


  <section id="apply" class="apply">
    <div class="container">
      <div class="section-title">
        <p>APPLY NOW</p>
      </div>

      <div class="content">
            <h3>Last Date to Submit Application</h3>
            <h3><i class='bx bx-calendar-check mr-3' ></i>15th July 2021</h3>
            <p>You need to have a GMAIL Account to fill the application form. If you do not have an Gmail ID, create a GMAIL ID and login before clicking the following Link. All the further communications will be sent to the given GMAIL ID only.</p>
            <div>
            <div class="text-center text-lg-start">
              <a href="https://forms.gle/KuXuNVFfMLg5sVm2A" target="_blank" class="btn-apply-now d-inline-flex align-items-center justify-content-center align-self-center">
                <span>Apply now</span>
                <i class='bx bx-chevron-right' ></i>
              </a>
            </div>
          </div>
      </div>

    </div>
  </section>


  </main><!-- End #main -->
{% endblock content %}

