{% extends 'base_page.html' %}
{% load static %}

{% block content %}

    <main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
    <picture>
      <source media="(min-width: 480px)" srcset="{% static 'assets/img/hero-bg.jpg' %}" class="img-fluid"  loading="lazy" draggable="false" onmousedown="return false" style="user-drag: none">
      <img src="{% static 'assets/img/mobile-hero-bg.jpg' %}"  loading="lazy" class="img-fluid" draggable="false" onmousedown="return false" style="user-drag: none">
    </picture>
    </div><!-- End Breadcrumbs -->
    
    <section id="home" class="home">
      <div class="container" >

        <div class="row">
          <div class="col-lg-3 col-md-4 order-1 order-lg-2 text-center" data-aos="fade-left" data-aos-delay="100">
            <img src="{% static 'assets/img/home_page.jpg' %}" class="img-fluid image" alt="">
          </div>
          <div class="col-lg-9 col-md-8 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <p>Vishwa Konkani Student Scholarship Fund is looking for 25 bright and talented Konkani Students who aspire to be the Chartered Accountants under its ambitious and innovative CA SUPER 25 Programme. <br>
            CA SUPER 25 is a fully sponsored 4 years educational programme, formed by a group of Chartered Accountants under the auspice of World Konkani Centre, to empower talented rural youth from Konkani speaking communities across Karnataka.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <section id="programme" class="programme">
      <div class="container">
      
      <div class="section-title">
        <p>Programme</p>
      </div>
    
        <div class="row icon-boxes">
          <div class="col d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><img src="{% static 'assets/img/programme/education.png' %}" class="img-fluid"></div>
              <div class="text-center"><h4 class="title"><a href="">scholarship</a></h4></div>
            </div>
          </div>

          <div class="col d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><img src="{% static 'assets/img/programme/coach.png' %}" class="img-fluid"></div>
              <div class="text-center"><h4 class="title"><a href="">coaching</a></h4></div>
            </div>
          </div>

          <div class="col d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="400">
            <div class="icon-box">
              <div class="icon"><img src="{% static 'assets/img/programme/education-2.png' %}" class="img-fluid"></div>
              <div class="text-center"><h4 class="title"><a href="">mentoring</a></h4></div>
            </div>
          </div>

          <div class="col d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="500">
            <div class="icon-box">
              <div class="icon"><img src="{% static 'assets/img/programme/articleship.png' %}" class="img-fluid"></div>
              <div class="text-center"><h4 class="title"><a href="">articleship</a></h4></div>
            </div>
          </div>

          <div class="col d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="500">
            <div class="icon-box">
              <div class="icon"><img src="{% static 'assets/img/programme/home.png' %}" class="img-fluid"></div>
              <div class="text-center"><h4 class="title"><a href="">fostering</a></h4></div>
            </div>
          </div>

      </div>
      </div>
    </section>


  </main><!-- End #main -->
{% endblock content %}

