{% extends 'base_page.html' %}
{% load static %}

{% block content %}


  <main id="main" data-aos="fade-in">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs text-breadcrumbs">
      <div class="container">
        <h2>Please Check your mail</h2>
      </div>
    </div><!-- End Breadcrumbs -->

    <section id="about" class="about">
      <div class="container-fluid">

        <div class="row justify-content-center">
          <div class="col-lg-8 lg-offset-2 col-12 video-box d-flex justify-content-center align-items-stretch">
            <a href="https://www.youtube.com/watch?v=3pDMLt4m7TU" class="venobox play-btn mb-4 stretched-link" data-vbtype="video" data-autoplay="true"></a>
          </div>

        </div>

      </div>
    </section><!-- End About Section -->

  </main><!-- End #main -->
{% endblock content %}